@import '~bootstrap/scss/bootstrap';
@import "~react-datepicker/dist/react-datepicker";
@import './font_faces';
@import './matrix';
@import './colors';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

body {
  font-family: 'Roboto', sans-serif;
}

.login-card {
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px 0;
  border-radius: 3px;
  background-color: white;
}

.login-btn {
  background-color: $primary-color;
  color: white;
  margin-top: 20px;
  &:hover {
    background-color: $secondary-color;
    color: white;
  }
}

